server:
  port: 80

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/blog?serverTimezone=Asia/Shanghai
  jpa:
    hibernate:
      ddl-auto: update
  mvc:
    contentnegotiation:
      favor-parameter: false
  thymeleaf:
    cache: false

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath*:mybatis/mapper/**/*.xml
logging:
  file:
    path: log/blog.log
  level:
    com.tcy: debug

