<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragment ::head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link href="../static/css/me.css" rel="stylesheet">

    <title>首页</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragment :: menu(1)" class="ui inverted attached segment m-padded-tb-min m-shadow-small">
    <div class="ui container">
        <div class="ui  inverted  secondary stackable menu">
            <!--   图标-->
            <h2 class="ui teal header item">blog</h2>
            <a href="#" class=" m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui input icon">
                    <input type="text" placeholder="搜索">
                    <i class="search icon link"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui button toggle  black icon m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--内容-->
<div class="m-padded-tb-large">
    <div class="ui container">
        <div class="ui  stackable grid">
            <div class="eleven wide column">
                <!-- 头部-->
                <div class="ui top attached segment">
                    <div class="ui   middle  aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="column right aligned">
                            共 <h3 class="ui header orange m-inline-block">14</h3>篇
                        </div>
                    </div>
                </div>

                <!--  中间内容-->
                <div class="ui attached  segment">
                    <div class="ui segment  vertical padded m-padded-tb-big">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Java从入门到入土</h3>
                                <p class="m-text">
                                    冷空气跟琉璃在清晨很有透明感 像我的喜欢被你看穿
                                    摊位上一朵艳阳 我悄悄出现你身旁
                                    你慌乱的模样我微笑安静欣赏 我顶着大太阳
                                    只想为你撑伞 你靠在我肩膀深呼吸怕遗忘
                                    因为捞鱼的蠢游戏我们开始交谈
                                    多希望话题不断园游会永不打烊 汽球在我手上
                                    我牵着你瞎晃 有话想对你讲你眼睛却装忙......
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui link list horizontal">
                                            <div class="item">
                                                <img src="/images/head.png" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header m-opacity-mini">Tcy</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>&nbsp;2020.05.15
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>&nbsp;2020
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label teal basic ">
                                            详情
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="/images/cat1.png" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment  vertical padded m-padded-tb-big">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Java从入门到入土</h3>
                                <p class="m-text">
                                    冷空气跟琉璃在清晨很有透明感 像我的喜欢被你看穿
                                    摊位上一朵艳阳 我悄悄出现你身旁
                                    你慌乱的模样我微笑安静欣赏 我顶着大太阳
                                    只想为你撑伞 你靠在我肩膀深呼吸怕遗忘
                                    因为捞鱼的蠢游戏我们开始交谈
                                    多希望话题不断园游会永不打烊 汽球在我手上
                                    我牵着你瞎晃 有话想对你讲你眼睛却装忙......
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui link list horizontal">
                                            <div class="item">
                                                <img src="/images/head.png" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header m-opacity-mini">Tcy</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>&nbsp;2020.05.15
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>&nbsp;2020
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label teal basic ">
                                            详情
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="/images/cat1.png" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment  vertical padded m-padded-tb-big">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Java从入门到入土</h3>
                                <p class="m-text">
                                    冷空气跟琉璃在清晨很有透明感 像我的喜欢被你看穿
                                    摊位上一朵艳阳 我悄悄出现你身旁
                                    你慌乱的模样我微笑安静欣赏 我顶着大太阳
                                    只想为你撑伞 你靠在我肩膀深呼吸怕遗忘
                                    因为捞鱼的蠢游戏我们开始交谈
                                    多希望话题不断园游会永不打烊 汽球在我手上
                                    我牵着你瞎晃 有话想对你讲你眼睛却装忙......
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui link list horizontal">
                                            <div class="item">
                                                <img src="/images/head.png" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header m-opacity-mini">Tcy</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>&nbsp;2020.05.15
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>&nbsp;2020
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label teal basic ">
                                            详情
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="/images/cat1.png" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment  vertical padded m-padded-tb-big">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Java从入门到入土</h3>
                                <p class="m-text">
                                    冷空气跟琉璃在清晨很有透明感 像我的喜欢被你看穿
                                    摊位上一朵艳阳 我悄悄出现你身旁
                                    你慌乱的模样我微笑安静欣赏 我顶着大太阳
                                    只想为你撑伞 你靠在我肩膀深呼吸怕遗忘
                                    因为捞鱼的蠢游戏我们开始交谈
                                    多希望话题不断园游会永不打烊 汽球在我手上
                                    我牵着你瞎晃 有话想对你讲你眼睛却装忙......
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui link list horizontal">
                                            <div class="item">
                                                <img src="/images/head.png" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header m-opacity-mini">Tcy</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>&nbsp;2020.05.15
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>&nbsp;2020
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label teal basic ">
                                            详情
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="/images/cat1.png" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment  vertical padded m-padded-tb-big">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Java从入门到入土</h3>
                                <p class="m-text">
                                    冷空气跟琉璃在清晨很有透明感 像我的喜欢被你看穿
                                    摊位上一朵艳阳 我悄悄出现你身旁
                                    你慌乱的模样我微笑安静欣赏 我顶着大太阳
                                    只想为你撑伞 你靠在我肩膀深呼吸怕遗忘
                                    因为捞鱼的蠢游戏我们开始交谈
                                    多希望话题不断园游会永不打烊 汽球在我手上
                                    我牵着你瞎晃 有话想对你讲你眼睛却装忙......
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui link list horizontal">
                                            <div class="item">
                                                <img src="/images/head.png" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header m-opacity-mini">Tcy</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>&nbsp;2020.05.15
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>&nbsp;2020
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label teal basic ">
                                            详情
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="/images/cat1.png" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment  vertical padded m-padded-tb-big">
                        <div class="ui stackable mobile reversed grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">Java从入门到入土</h3>
                                <p class="m-text">
                                    冷空气跟琉璃在清晨很有透明感 像我的喜欢被你看穿
                                    摊位上一朵艳阳 我悄悄出现你身旁
                                    你慌乱的模样我微笑安静欣赏 我顶着大太阳
                                    只想为你撑伞 你靠在我肩膀深呼吸怕遗忘
                                    因为捞鱼的蠢游戏我们开始交谈
                                    多希望话题不断园游会永不打烊 汽球在我手上
                                    我牵着你瞎晃 有话想对你讲你眼睛却装忙......
                                </p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui link list horizontal">
                                            <div class="item">
                                                <img src="/images/head.png" alt="" class="ui avatar image">
                                                <div class="content">
                                                    <div class="header m-opacity-mini">Tcy</div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>&nbsp;2020.05.15
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i>&nbsp;2020
                                            </div>
                                        </div>
                                    </div>
                                    <div class="five wide column right aligned">
                                        <a href="#" target="_blank" class="ui label teal basic ">
                                            详情
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="/images/cat1.png" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--底部-->
                <div class="ui bottom attached segment">
                    <div class="ui   middle  aligned two column grid">
                        <div class="column">
                            <a href="" class="ui  blue basic button">上一页</a>
                        </div>
                        <div class="column right aligned">
                            <a href="" class="ui blue basic button">下一页</a>
                        </div>
                    </div>
                </div>

            </div>

            <!--右边top-->
            <div class="five wide column">
                <!--分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column"><i class="idea icon"></i>分类</div>
                            <div class="column right aligned"><a target="_blank" href="#">more<i
                                    class="angle double right icon"></i></a></div>
                        </div>
                    </div>
                    <div class="ui  teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item">学习日记
                                <div class="ui label  teal basic">13</div>
                            </a>
                            <a href="#" class="item">学习日记
                                <div class="ui label  teal basic">13</div>
                            </a>
                            <a href="#" class="item">学习日记
                                <div class="ui label  teal basic">13</div>
                            </a>
                            <a href="#" class="item">学习日记
                                <div class="ui label  teal basic">13</div>
                            </a>
                            <a href="#" class="item">学习日记
                                <div class="ui label  teal basic">13</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--标签-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column"><i class="tags icon"></i>标签</div>
                            <div class="column right aligned"><a target="_blank" href="#">more<i
                                    class="angle double right icon"></i></a></div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>
                        <a href="#" target="_blank" class="ui label  teal basic pointing left m-margin-tb-tiny">java学习路线
                            <div class="detail">9</div>
                        </a>


                    </div>
                </div>
                <!--推荐-->
                <div class="ui segments m-margin-top-small">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>推荐
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">我的故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">我的故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">我的故事</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank">我的故事</a>
                    </div>
                </div>

                <!--二维码-->
                <h4 class="ui horizontal divider header black m-margin-top-small">扫码打赏我一下 mua~</h4>
                <div class="ui card centered" style="width: 11em">
                    <img src="/images/pay.png" alt="" class="ui rounded image">
                </div>
            </div>
        </div>
    </div>
</div>


<!--底部-->
<footer th:replace="_fragment :: footer" class="ui inverted segment  vertical m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui grid divided  stackable inverted ">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="images/weixin.png" class="ui round image" alt="二维码" style="width: 120px">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header"> 最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header"> 联系作者</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:852555027@qq.com</a>
                    <a href="#" class="item">QQ:852555025</a>

                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header ">申明</h4>
                <p class="m-opacity-mini">这是我的个人博客.................................</p>
            </div>
        </div>


        <div class="ui inverted section divider">
        </div>
        <p class="m-opacity-tiny">Copyright © 2013-2020 Tcy 852555027 All Rights Reserved</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragment :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>